<h1>Welcome!</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color:red;"><%= error %></p>
  <% end %>
<% end %>
<div id="register">

    <form action="/users" method="POST">
	<fieldset>
	<legend><h3>Register</h3></legend>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <label>First Name:</label> <input type="text" name="user[first_name]" placeholder="First Name">
    <br>
    <label>Last Name:</label> <input type="text" name="user[last_name]" placeholder="Last Name">
    <br>
    <label>Email:</label> <input type="text" name="user[email]" placeholder="Email">
    <br>
    <label>Password:</label> <input type="password" name="user[password]" placeholder="Password">
    <br>
    <p>*Password should be at least 8 characters</p>
    <label>Password Confirmation:</label> <input type="password" name="user[password_confirmation]" placeholder="Confirm Password">
    <br>

    <button type="submit">Register</button>
	</fieldset>
    </form>

</div>
<div id="login">

<form action="/users/authenticate" method="POST">
<fieldset>
<legend>Login</legend>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
 	<label>Email:</label> <input type="text" name="user[email]" placeholder="Email">
 	<br>
 	<label>Password:</label> <input type="password" name="user[password]" placeholder="Password">
 	<br>

    <button type="submit">Login</button>
</fieldset>
</form>
</div>